<h1 style="text-align: center; color: black;">Our Products</h1>

<p class="ngc-intro" style="text-align: center;">We provide a variety of casual men&#39;s clothing with fittings that
  are comfortable in the body and very trendy. M231 provides the highest quality products at affordable prices.
</p>
<!-- en -->

<h1 style="text-align: center; color: black;">Produk Kami</h1>

<p class="ngc-intro" style="text-align: center;">Kami menyediakan berbagai macam pakaian pria casual dengan fitting yang
  nyaman di badan dan sangat trendy. M231 menyediakan produk - produk dengan kualitas yang terbaik dengan harga yang
  terjangkau.
</p>
<!-- id -->

<div class="row same-height">
  <div class="grid-child n-540-1per2 n-992-1per3">
    <div class="news-child fadeIn" style="background-color: transparent; opacity: 1;  display: block;">
      <div class="img-wrap"><img src="http://m231.com/corvusbasic/public/uploads/media_clothing-nine_1305.jpg" /></div>
      <!-- .img-wrap -->
    </div>
    <!-- .news-child -->
  </div>
  <!-- .grid-child -->

  <div class="grid-child n-540-1per2 n-992-1per3">
    <div class="news-child fadeIn" style="background-color: transparent; opacity: 1;  display: block;">
      <div class="img-wrap"><img src="http://m231.com/corvusbasic/public/uploads/media_clothing-eight_1251.jpg" /></div>
      <!-- .img-wrap -->
    </div>
    <!-- .news-child -->
  </div>
  <!-- .grid-child -->

  <div class="grid-child n-540-1per2 n-992-1per3">
    <div class="news-child fadeIn" style="background-color: transparent; opacity: 1;  display: block;">
      <div class="img-wrap"><img src="http://m231.com/corvusbasic/public/uploads/media_clothing-seven_1213.jpg" /></div>
      <!-- .img-wrap -->
    </div>
    <!-- .news-child -->
  </div>
  <!-- .grid-child -->

  <div class="grid-child n-540-1per2 n-992-1per3">
    <div class="news-child fadeIn" style="background-color: transparent; opacity: 1;  display: block;">
      <div class="img-wrap"><img src="http://m231.com/corvusbasic/public/uploads/media_clothing-six_1157.jpg" /></div>
      <!-- .img-wrap -->
    </div>
    <!-- .news-child -->
  </div>
  <!-- .grid-child -->

  <div class="grid-child n-540-1per2 n-992-1per3">
    <div class="news-child fadeIn" style="background-color: transparent; opacity: 1;  display: block;">
      <div class="img-wrap"><img src="http://m231.com/corvusbasic/public/uploads/media_clothing-five_1139.jpg" /></div>
      <!-- .img-wrap -->
    </div>
    <!-- .news-child -->
  </div>
  <!-- .grid-child -->

  <div class="grid-child n-540-1per2 n-992-1per3">
    <div class="news-child fadeIn" style="background-color: transparent; opacity: 1;  display: block;">
      <div class="img-wrap"><img src="http://m231.com/corvusbasic/public/uploads/media_clothing-four_1120.jpg" /></div>
      <!-- .img-wrap -->
    </div>
    <!-- .news-child -->
  </div>
  <!-- .grid-child -->

  <div class="grid-child n-540-1per2 n-992-1per3">
    <div class="news-child fadeIn" style="background-color: transparent; opacity: 1;  display: block;">
      <div class="img-wrap"><img src="http://m231.com/corvusbasic/public/uploads/media_clothing-three_1102.jpg" /></div>
      <!-- .img-wrap -->
    </div>
    <!-- .news-child -->
  </div>
  <!-- .grid-child -->

  <div class="grid-child n-540-1per2 n-992-1per3">
    <div class="news-child fadeIn" style="background-color: transparent; opacity: 1;  display: block;">
      <div class="img-wrap"><img src="http://m231.com/corvusbasic/public/uploads/media_clothing-two_1039.jpg" /></div>
      <!-- .img-wrap -->
    </div>
    <!-- .news-child -->
  </div>
  <!-- .grid-child -->

  <div class="grid-child n-540-1per2 n-992-1per3">
    <div class="news-child fadeIn" style="background-color: transparent; opacity: 1;  display: block;">
      <div class="img-wrap"><img src="http://m231.com/corvusbasic/public/uploads/media_clothing-one_0950.jpg" /></div>
      <!-- .img-wrap -->
    </div>
    <!-- .news-child -->
  </div>
  <!-- .grid-child -->
</div>
