<h1 style="text-align: center; color: black;">Market Place</h1>

<div class="row same-height">
  <div class="grid-child n-540-1per2 n-992-1per4">
    <div class="news-child fadeIn" style="background-color: transparent; opacity: 1; display: block;">
      <div class="img-wrap">
        <a href="https://www.tokopedia.com/m231store/home"><img
            src="http://m231.com/corvusbasic/public/uploads/media_new-tokopedia_1457.png"
            style="background: #F8F8F8;"> </a>
      </div>
      <!-- .img-wrap -->
    </div>
    <!-- .news-child -->
  </div>
  <!-- .grid-child -->

  <div class="grid-child n-540-1per2 n-992-1per4">
    <div class="news-child fadeIn" style="background-color: transparent; opacity: 1; display: block;">
      <div class="img-wrap">
        <a href="https://shopee.co.id/m231official"><img alt=""
            src="http://m231.com/corvusbasic/public/uploads/media_new-shopee_1509.png"
            style="background: #F8F8F8;"> </a>
      </div>
      <!-- .img-wrap -->
    </div>
    <!-- .news-child -->
  </div>
  <!-- .grid-child -->

  <div class="grid-child n-540-1per2 n-992-1per4">
    <div class="news-child fadeIn" style="background-color: transparent; opacity: 1; display: block;">
      <div class="img-wrap">
        <a href="https://www.zalora.co.id/m231/?q=m231&amp;classifier=false"><img alt=""
            src="http://m231.com/corvusbasic/public/uploads/media_new-zalora_1551.png"
            style="background: #F8F8F8;"> </a>
      </div>
      <!-- .img-wrap -->
    </div>
    <!-- .news-child -->
  </div>
  <!-- .grid-child -->

  <div class="grid-child n-540-1per2 n-992-1per4">
    <div class="news-child fadeIn" style="background-color: transparent; opacity: 1; display: block;">
      <div class="img-wrap" style="margin-top: 20%;">
        <a href="https://zilingo.com/id-id/product/details/PRO9449826911?color=undefined"><img alt=""
            src="http://m231.com/corvusbasic/public/uploads/media_new-zilingo_1608.png"
            style="background: #F8F8F8;"> </a>
      </div>
      <!-- .img-wrap -->
    </div>
    <!-- .news-child -->
  </div>

</div>

<p>&nbsp;</p>

<h1 style="text-align: center; color: black;">Department Store</h1>

<div class="row same-height">
  <div class="grid-child n-540-1per2 n-992-1per4">
    <div class="news-child fadeIn" style="background-color: transparent; opacity: 1; display: block;">
      <div class="img-wrap">
        <img src="http://m231.com/corvusbasic/public/uploads/media_new-ramayana_1624.png" style="background: #F8F8F8;">
      </div>
      <!-- .img-wrap -->
    </div>
    <!-- .news-child -->
  </div>
  <!-- .grid-child -->
  <div class="grid-child n-540-1per2 n-992-1per4">
    <div class="news-child fadeIn" style="background-color: transparent; opacity: 1; display: block;">
      <div class="img-wrap">
        <img alt="" src="http://m231.com/corvusbasic/public/uploads/media_new-transmart_1641.png" style="background: #F8F8F8;">
      </div>
      <!-- .img-wrap -->
    </div>
    <!-- .news-child -->
  </div>
  <!-- .grid-child -->
</div>