<h1 style="text-align: center; color: black;">Our Products</h1>

<p class="ngc-intro" style="text-align: center;">
  We provide a variety of casual men&#39;s clothing with fittings that
  are comfortable in the body and very trendy. M231 provides the highest quality products at affordable prices.
</p>
<!-- en -->

<h1 style="text-align: center; color: black;">Produk Kami</h1>

<p class="ngc-intro" style="text-align: center;">Kami menyediakan berbagai macam pakaian pria casual dengan fitting yang
  nyaman di badan dan sangat trendy. M231 menyediakan produk - produk dengan kualitas yang terbaik dengan harga yang
  terjangkau.
</p>
<!-- id -->

<div class="content-wrap">
  <div class="ngc-child">
    <div class="wrap">
      <div class="ngc-media">
        <div class="content"><img
            src="http://m231.com/corvusbasic/public/uploads/media_printed-shirt-size-chart_1906.png" /></div>
        <!-- .content -->
      </div>
      <!-- .ngc-media -->
    </div>
    <!-- .wrap -->
  </div>
  <!-- .ngc-child -->

  <div class="ngc-child">
    <div class="wrap">
      <div class="ngc-media">
        <div class="content"><img
            src="http://m231.com/corvusbasic/public/uploads/media_basic-shirt-size-chart_1923.png" /></div>
        <!-- .content -->
      </div>
      <!-- .ngc-media -->
    </div>
    <!-- .wrap -->
  </div>
  <!-- .ngc-child -->
</div>