<h1 style="text-align: center; color: black;">Our Products</h1>

<p class="ngc-intro" style="text-align: center;">We provide a variety of casual men&#39;s clothing with fittings that
  are comfortable in the body and very trendy. M231 provides the highest quality products at affordable prices.
</p>
<!-- en -->

<h1 style="text-align: center; color: black;">Produk Kami</h1>

<p class="ngc-intro" style="text-align: center;">Kami menyediakan berbagai macam pakaian pria casual dengan fitting yang
  nyaman di badan dan sangat trendy. M231 menyediakan produk - produk dengan kualitas yang terbaik dengan harga yang
  terjangkau.
</p>
<!-- id -->

<div class="row same-height">
  <div class="grid-child n-540-1per2 n-992-1per3">
    <div class="news-child fadeIn" style="background-color: transparent; opacity: 1;  display: block;">
      <div class="img-wrap"><img src="" />
      </div>
      <!-- .img-wrap 1-->
    </div>
    <!-- .news-child -->
  </div>
  <!-- .grid-child -->

  <div class="grid-child n-540-1per2 n-992-1per3">
    <div class="news-child fadeIn" style="background-color: transparent; opacity: 1;  display: block;">
      <div class="img-wrap"><img src="" />
      </div>
      <!-- .img-wrap 2-->
    </div>
    <!-- .news-child -->
  </div>
  <!-- .grid-child -->

  <div class="grid-child n-540-1per2 n-992-1per3">
    <div class="news-child fadeIn" style="background-color: transparent; opacity: 1;  display: block;">
      <div class="img-wrap"><img src="" />
      </div>
      <!-- .img-wrap 3-->
    </div>
    <!-- .news-child -->
  </div>
  <!-- .grid-child -->

  <div class="grid-child n-540-1per2 n-992-1per3">
    <div class="news-child fadeIn" style="background-color: transparent; opacity: 1;  display: block;">
      <div class="img-wrap"><img src=""/>
      </div>
      <!-- .img-wrap 4-->
    </div>
    <!-- .news-child -->
  </div>
  <!-- .grid-child -->

  <div class="grid-child n-540-1per2 n-992-1per3">
    <div class="news-child fadeIn" style="background-color: transparent; opacity: 1;  display: block;">
      <div class="img-wrap"><img src="" />
      </div>
      <!-- .img-wrap 5-->
    </div>
    <!-- .news-child -->
  </div>
  <!-- .grid-child -->

  <div class="grid-child n-540-1per2 n-992-1per3">
    <div class="news-child fadeIn" style="background-color: transparent; opacity: 1;  display: block;">
      <div class="img-wrap"><img src="" />
      </div>
      <!-- .img-wrap 6-->
    </div>
    <!-- .news-child -->
  </div>
  <!-- .grid-child -->

  <div class="grid-child n-540-1per2 n-992-1per3">
    <div class="news-child fadeIn" style="background-color: transparent; opacity: 1;  display: block;">
      <div class="img-wrap"><img src="" />
      </div>
      <!-- .img-wrap 7-->
    </div>
    <!-- .news-child -->
  </div>
  <!-- .grid-child -->

  <div class="grid-child n-540-1per2 n-992-1per3">
    <div class="news-child fadeIn" style="background-color: transparent; opacity: 1;  display: block;">
      <div class="img-wrap"><img src=""/>
      </div>
      <!-- .img-wrap 8-->
    </div>
    <!-- .news-child -->
  </div>
  <!-- .grid-child -->

  <div class="grid-child n-540-1per2 n-992-1per3">
    <div class="news-child fadeIn" style="background-color: transparent; opacity: 1;  display: block;">
      <div class="img-wrap"><img src=""/>
      </div>
      <!-- .img-wrap 9-->
    </div>
    <!-- .news-child -->
  </div>
  <!-- .grid-child -->

  <div class="grid-child n-540-1per2 n-992-1per3">
    <div class="news-child fadeIn" style="background-color: transparent; opacity: 1;  display: block;">
      <div class="img-wrap"><img src=""/>
      </div>
      <!-- .img-wrap 10-->
    </div>
    <!-- .news-child -->
  </div>
  <!-- .grid-child -->

  <div class="grid-child n-540-1per2 n-992-1per3">
    <div class="news-child fadeIn" style="background-color: transparent; opacity: 1;  display: block;">
      <div class="img-wrap"><img src=""/>
      </div>
      <!-- .img-wrap 11-->
    </div>
    <!-- .news-child -->
  </div>
  <!-- .grid-child -->

  <div class="grid-child n-540-1per2 n-992-1per3">
    <div class="news-child fadeIn" style="background-color: transparent; opacity: 1;  display: block;">
      <div class="img-wrap"><img src=""/>
      </div>
      <!-- .img-wrap 12-->
    </div>
    <!-- .news-child -->
  </div>
  <!-- .grid-child -->

  <div class="grid-child n-540-1per2 n-992-1per3">
    <div class="news-child fadeIn" style="background-color: transparent; opacity: 1;  display: block;">
      <div class="img-wrap"><img src=""/>
      </div>
      <!-- .img-wrap 13-->
    </div>
    <!-- .news-child -->
  </div>
  <!-- .grid-child -->

  <div class="grid-child n-540-1per2 n-992-1per3">
    <div class="news-child fadeIn" style="background-color: transparent; opacity: 1;  display: block;">
      <div class="img-wrap"><img src=""/>
      </div>
      <!-- .img-wrap 14-->
    </div>
    <!-- .news-child -->
  </div>
  <!-- .grid-child -->

  <div class="grid-child n-540-1per2 n-992-1per3">
    <div class="news-child fadeIn" style="background-color: transparent; opacity: 1;  display: block;">
      <div class="img-wrap"><img src=""/>
      </div>
      <!-- .img-wrap 15-->
    </div>
    <!-- .news-child -->
  </div>
  <!-- .grid-child -->

  <div class="grid-child n-540-1per2 n-992-1per3">
    <div class="news-child fadeIn" style="background-color: transparent; opacity: 1;  display: block;">
      <div class="img-wrap"><img src=""/>
      </div>
      <!-- .img-wrap 16-->
    </div>
    <!-- .news-child -->
  </div>
  <!-- .grid-child -->

  <div class="grid-child n-540-1per2 n-992-1per3">
    <div class="news-child fadeIn" style="background-color: transparent; opacity: 1;  display: block;">
      <div class="img-wrap"><img src=""/>
      </div>
      <!-- .img-wrap 17-->
    </div>
    <!-- .news-child -->
  </div>
  <!-- .grid-child -->

  <div class="grid-child n-540-1per2 n-992-1per3">
    <div class="news-child fadeIn" style="background-color: transparent; opacity: 1;  display: block;">
      <div class="img-wrap"><img src=""/>
      </div>
      <!-- .img-wrap 18-->
    </div>
    <!-- .news-child -->
  </div>
  <!-- .grid-child -->

  <div class="grid-child n-540-1per2 n-992-1per3">
    <div class="news-child fadeIn" style="background-color: transparent; opacity: 1;  display: block;">
      <div class="img-wrap"><img src="" />
      </div>
      <!-- .img-wrap 19-->
    </div>
    <!-- .news-child -->
  </div>
  <!-- .grid-child -->

  <div class="grid-child n-540-1per2 n-992-1per3">
    <div class="news-child fadeIn" style="background-color: transparent; opacity: 1;  display: block;">
      <div class="img-wrap"><img src="" />
      </div>
      <!-- .img-wrap 20-->
    </div>
    <!-- .news-child -->
  </div>
  <!-- .grid-child -->

  <div class="grid-child n-540-1per2 n-992-1per3">
    <div class="news-child fadeIn" style="background-color: transparent; opacity: 1;  display: block;">
      <div class="img-wrap"><img src="" />
      </div>
      <!-- .img-wrap 21-->
    </div>
    <!-- .news-child -->
  </div>
  <!-- .grid-child -->
</div>